@use "../../scss/abstracts/" as *;

// ------------
.form__control {
  position: relative;
  margin-bottom: 2rem;
  // border: 1px solid red;

  label {
    position: absolute;
    top: -30%;
    left: 10px;
    // background-color: var(--bgc);
    background-color: #fff;
    padding: 0.3rem;
    white-space: nowrap;
  }

  input {
    padding: 1rem 1.5rem;
    border: 1px solid gainsboro;
    outline: gray;
    text-transform: capitalize;
    // background-color: var(--bgc);
    background-color: transparent;
    border-radius: $smallBorderRadius;
    min-width: 300px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 300px) {
      min-width: auto;
    }
  }
}

.btn__wrapper{
  margin-bottom: 1rem;
  button{
    font: inherit;
    border-radius: $smallBorderRadius;
    padding: 0.8rem 3rem;
    cursor: pointer;
    margin: 0 0.5rem;
    min-width: 290px; 
  
    &.outline {
      background-color: transparent;
      border: 1px solid #000080;
      color: var(--text-color);
    }
  
    &.button {
      border: none;
      background: #000080;
      color: gainsboro;
    
      &:hover,
      &:active {
        background-color: darken(#000080, 10%);
      }
    
      &:focus {
        outline: none;
      }
    }
    
  }
}

.add__container {
  @include flex();
  align-items: unset;
  flex-wrap: wrap;
  // background-color: aquamarine-+
}

.add__left,
.add__right {
  flex: 1;
  min-width: 450px;
  max-width: 600px;
  margin: 1rem;
  @media screen and (max-width: 1210px) {
    margin-top: 2rem;
  }
  @media screen and (max-width: 550px) {
    min-width: 350px;
  }
  @media screen and (max-width: 330px) {
    min-width: 260px;
  }
}

.img_wrapper {
  @include flex(stretch, center);
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: $mainBoxShadow;

  @media screen and (max-width: 576px) {
    width: 150px;
    height: 150px;
  }
}

.upload_circle_temp {
  position: relative;
  @include flex();
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: $mainBoxShadow;
  font-size: 4rem;
  color: #ebebeb;
  background-color: rgba(0, 0, 0, 0.4);
  
  @media screen and (max-width: 576px) {
    width: 150px;
    height: 150px;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
}

.add__left {
  & .img_wrapper {
    margin-top: 2rem;
    margin-right: 1.5rem;
  }
  & > div:first-child {
    flex-direction: column;
  }
}

.add__right {
  position: relative;
  // min-width: 450px;
  @media screen and (max-width: 410px) {
    & > div:first-child {
      padding: 1rem 0;
    }
  }
  
  .img_wrapper {
    position: absolute;
    top: -3rem;
    right: -3.5rem;

    @media screen and (max-width: 576px) {
      right: 0;
      top: 0;
    }
    @media screen and (max-width: 410px) {
      top: 6rem;
      right: auto;
      left: 5rem;
    }
  }

  .upload_icon {
    @include flex();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 4rem;
    color: #ebebeb;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 90%;
    transition: opacity 0.3s ease-in-out;
    svg {
      cursor: pointer;
    }

    @include tablet {
      opacity: 1;
    }
  }

  .img_wrapper:hover .upload_icon,
  .img_wrapper:active .upload_icon {
    opacity: 1;
  }

  .file_input_control {
    .file_input {
      position: absolute;
      top: 35%;
      opacity: 0;
      padding: 2rem 0;
      // background-color: #000080;
    }
    .file_input_elon{
      position: absolute;
      bottom: 20%;
      display: none;
      // opacity: 0;
      padding: 2rem 0;
      // background-color: #000080;

  }
  }
}

.pic {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__edit {
  position: relative;
  margin: 3rem;
  width: 100%;

  @include mobile {
    margin: 3rem 0.5rem;
  }
}

.card__info {
  @include flex();
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
  flex: 1;

  & > div {
    margin: 1rem;
    width: 90%;
    & > div {
      display: inline-block;
      // background-color: red;
      width: 45%;
      @media screen and (max-width: 810px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.title {
      color: gray;
      // text-align: right;
      font-weight: 700;
      @media screen and (max-width: 810px) {
        text-align: center;
        white-space: nowrap;
      }
    }
    
    .value {
      font-weight: 500;
      margin-left: 2rem;
      text-transform: capitalize;
      
      @media screen and (max-width: 810px) {
        margin-left: 0;
      margin-top: 0.7rem;
      white-space: nowrap;
    }
}

.subTitle {
    @include flex(center, flex-start);
    font-size: 36px;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 7rem;
  
    @media screen and (max-width: 410px) {
      margin-bottom: 14rem;
    }
}
